@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #020202;
}
.dmsans {
  font-family: "DM Sans", serif;
}

.inter {
  font-family: "Inter", serif;
}
.mark {
  text-shadow: -1px 0 0.1px white, 0 1px 1px white, 1px 0 1px white;
  letter-spacing: 5px;
}
